
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-color: #e1f1f4;
    color: #1c2337;
    line-height: 1.6;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }
  header {
    background: #f2f2f2;
    padding: 20px;
  }
  .section {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #1c2337;
  }
  
  
  header {
    background-color: #174ea6;
    padding: 20px;
  }
  
  header h1 {
    color: #fff;
    font-size: 24px;
  }
  

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }


  /* user-container */
  

  main {
    display: block;
    align-items: center;
    justify-content: center;
  }
 
/* wyglad przyciskow */
  
#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin: 20px;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#dropdown-btn-1, #dropdown-btn-2, #dropdown-btn-3:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}



/* dropdown */

  #backup-container {
    display: none;
    padding: 10px;
    background-color: #e1f1f4;
    margin-bottom: 20px;
  }

  #backup-container.show {
    display: block;
  }
  

  #user-management {
    display: none;
    padding: 10px;
    background-color: #e1f1f4;
    margin-bottom: 20px;
  }
  #user-management.show {
    display: block;
  }
  #transactions {
    display: none;
    padding: 10px;
    background-color: #e1f1f4;
    margin-bottom: 20px;
  }
  #transactions.show {
    display: block;
  }
  /*nic

  /* wyglad containerow */
  .database-backup {
    padding: 10px;
    background-color: #e1f1f4;
    margin-top: 60px;
  }

 #backup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
 .hr-blur {
  background-image: radial-gradient(closest-side at 50% 50%, transparent, black, transparent);
  opacity: .25;
 }
  
  .backup-restoration {

    background-color: #e1f1f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }


  #btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;

  }
  
  #btn:hover {
    background-color: #f7fafa;
  }
  
  #btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }



  .user-management {
    margin-top: 60px;
    color: #1c2337;
  }
  
  #user-management h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  #user-management h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  
  .users-list {
    background-color: #e1f1f4;
    padding: 80px 0;
    text-align: center;
  }
  
  
  .users-list p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #transactions {
    background-color: #e1f1f4;
  }
  #transactions h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: lighter;
  }

  /* tabela users */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
#bck-img {
  width: 512px;
  height: 512px;
}

/* stopka */

  tfoot td {
    font-weight: bold;
  }
  
  footer {
    background-color: #1c2337;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }